.preview-image-container {
    .label-upload {
        padding: 5px;
        background-color: #ddd;
        border-radius: 3px;
        cursor: pointer ;
    
        &:hover {
            opacity: 0.8;
        }
    }

    .preview-image {
        height: 150px;
        width: 100%;
        border: 1px solid #ddd;
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
